//
// Colors
//
$white: 					#FFF;
$black: 					#000;
$darkBlue:					#194079;
$lightBlue: 				#00D8FF;
$formColor:					#95989A;

$red:                       #BD0A24;
$brandColor:                #BD0A24;

$grey:                      #707070;


//
// Breakpoints
//
$mobileBreakpoint: 			580px;
$tabletBreakpoint: 			850px;
$computerBreakpoint: 		1024px;
$mediumComputerBreakpoint: 	1200px;
$largeMonitorBreakpoint: 	1440px;
$widescreenBreakpoint: 		1920px;



$metric: 'Metric';

$light: 300;
$medium: 500;
$bold: bold;
$semiBold: 600;