.home {
    &__wrapper {
        position: relative;
        @extend %cover;
        padding: 360px 0 300px;
        overflow-x: hidden;
        @media (min-width: 1920) {
            padding: 200px 0;
        }
        @media(min-width: 1800px) {
            min-height: 2185px;
        }
        @include computer-scr {
            padding: 200px 0;
        }
        @include tablet-scr {
            padding: 100px 0;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: rgb(0,0,0);
            background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6825105042016807) 50%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6825105042016807) 50%, rgba(0,0,0,1) 100%);
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6825105042016807) 50%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);            
            z-index: 1;
        }
        .angle {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;       
            width: 100%;
            height: 100%;   
            background-repeat: no-repeat;
            pointer-events: none;
            @include computer-scr {
                background-size: cover;
            }
        }
    }
    &__content {
        color: $white;
        display: flex;
        @include computer-scr {
            flex-direction: column;
        }
        div {
            width: 50%;
            @include md-computer-scr {
                width: 100%;
            }
        }
        a {
            color: inherit;
        }
    }
    &__logo__header {
        position: fixed;
        top: 230px;
        left: 150px;
        z-index: 0;
        @include computer-scr {
            position: relative;
            top: auto;
            left: auto;
            .scroll-down {
                display: none;
            }
        }
        @media(max-height: 800px) {
            top: 125px;
        }
        @include mobile-scr {
            top: 0;
        }
        h1 {
            @include fontSize(88, 70, 62, 54, 48);
            font-weight: $light;
            line-height: 0.8;
            margin-top: 30px;
        }
    }
    &__text {
        position: relative;
        z-index: 1;
        margin-left: auto;
        margin-right: 100px;
        font-size: 21px;
        max-width: 465px;
        @include md-computer-scr {
            margin-right: 0;
        }
        @include computer-scr {
            margin: 50px 0;
        }
        .arrow-right {
            margin-top: 30px;
            font-weight: $medium;
        }
        a {
            i {
                font-size: 12px;
            }
        }
    }

    &__pages {
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 1;
        color: $white;
        @include mobile-scr {
            justify-content: center;
        }
        .slider {
            position: relative;
            width: 100%;
            margin-left: auto;
            margin-right: 100px;
            max-width: 465px;
            @include lg-computer-scr {
                margin-right: 0;
            }            
        }
        .swiper {
            &-slide {
                width: 100%;
                h3, p {
                    font-weight: $medium;
                }
                h3 {
                    @include fontSize(61, 58, 52, 46, 42);
                    margin-bottom: 30px;
                }
                p {
                    @include fontSize(22, 18, 16);
                }
                a {
                    @extend %api__button-arrow__right;
                    margin-top: 80px;
                }
            }
            &-default-navigation {
                position: absolute;
                top: 40px;
                left: -100px;
                width: calc(100% + 100px);
                display: flex;
                justify-content: space-between;
                align-content: center;
                z-index: 1;
                @include computer-scr {
                    left: 0;
                    width: 100%;
                    top: 45%;
                }
                button {
                    border: 0;
                    background-color: transparent;
                    color: $white;
                    font-size: 18px;
                    @include mobile-scr {
                        padding: 5px;
                    }
                }
            }
            &-pagination {
                margin-top: 100px;
                margin-left: 0;
            }
        }
    }

    &__second {
        position: relative;
        z-index: 2;
    }
}