.technical__fields {
    // Responsive table
    .default__content-text > div {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    table {
        width: 100%;
        max-width: 100%;
        min-width: 800px;
        thead {
            tr {
                border-bottom: 1px solid $red;
                th {
                    padding-bottom: 15px;
                    font-size: 21px;
                    @include fontSize(21, 18);
                    font-weight: $medium;
                    color: $red;
                    text-align: left;
                    &:first-child {
                        padding-right: 50px;
                    }
                    &:not(:first-child) {
                        padding-left: 50px;
                    }                    
                }
            }
        }
        tbody {
            tr {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($red, 0.18);
                }
                td {
                    position: relative;
                    padding: 20px 0;
                    @include fontSize(18, 16);
                    font-weight: normal;
                    line-height: 1.5;
                    vertical-align: middle;
                    &:not(:last-child) {
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            margin: auto;
                            height: 50%;
                            width: 1px;
                            background-color: rgba($red, 0.18);
                        }
                    }
                    &:first-child {
                        padding-right: 50px;
                    }
                    &:not(:first-child) {
                        padding-left: 50px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}