.footer {
    position: relative;
    padding-top: 50px;
    background-color: #1A1A1A;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 5;
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 1327px;
        margin: auto;
        width: 100%;
        svg {
            position: relative;
            right: -30px;
            margin-bottom: 38px;
        }
        &__actions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include tablet-scr {
                flex-direction: column;
                align-items: center;
            }
            p {
                font-size: 18px;
                color: $white;
                display: flex;
                align-items: center;
                white-space: nowrap;
                @include tablet-scr {
                    margin-bottom: 30px;
                }
                a {
                    font-size: inherit;
                    color: inherit;
                }
            }
            .btns {
                display: flex;
                flex-direction: row;
                justify-content: center;
                @include mobile-scr {
                    flex-direction: column;
                }
                a {
                    margin: 0 10px;
                    @include mobile-scr {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    &__body {
        color: $white;
        border-top: 1px solid rgba($grey, 0.4);
        border-bottom: 1px solid rgba($grey, 0.4);
        padding-top: 25px;
        padding-bottom: 25px;
        max-width: 1327px;
        width: 100%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        @include tablet-scr {
            flex-direction: column;
        }
    }
    &__col {
        &:first-child {
            width: 60%;
            padding-right: 80px;
            @include tablet-scr {
                width: 100%;
                padding-right: 0;
            }
        }
        &:last-child {
            width: 40%;
            @include tablet-scr {
                width: 100%;
            }
        }
    }
    &__locations {
        border-bottom: 1px solid rgba($grey, 0.4);
        padding-bottom: 50px;
        a {
            color: $white;
        }
        table {
            width: 100%;
            tr {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include mobile-scr {
                    flex-direction: column;
                }
            }
            td {
                flex: 1;
                @include computer-scr {
                    width: 50%;
                }
                @include mobile-scr {
                    width: 100%;
                    padding-bottom: 50px;
                }
                &:last-child {
                    @include mobile-scr {
                        padding-bottom: 0;
                    }
                }
            }
            h6 {
                font-weight: $medium;
                font-size: 20px;
            }
            p, td {
                font-size: 18px;
            }
        }
    }
    &__socials__subscribe {
        justify-content: space-between;
        margin-top: 20px;
        gap: 10px;
        @include mobile-scr {
            flex-direction: column;
        }
        h5 {
            font-size: 18px;
            font-weight: $medium;
            margin-bottom: 10px;
        }
        a {
            color: $white;
            transition: 0.3s ease-in-out color;
            &:hover {
                color: $red;
            }
            i {
                font-size: 20px;
            }
        }
    }
    &__socials {
        flex: 1;
    }
    &__subscribe {
        align-items: flex-start;
        flex: 2;
        @include mobile-scr {
            margin-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(112, 112, 112, 0.4);
        }
        input {
            margin-bottom: 0;
        }
    }
    &__form {
        @include tablet-scr {
            margin-top: 30px;
        }
        .form__group {
            @include mobile-scr {
                flex-direction: column;
                margin-bottom: 10px;
            }
            .input,
            input {
                @include mobile-scr {
                    margin-bottom: 0;
                }
            }
        }
    }    
    &__copyright {
        text-align: center;
        padding: 15px 0;
        span {
            color: #585858;
            font-size: 15px;
            font-weight: $light;
        }
    }
}